# DO NOT USE NOTEPAD TO EDIT CONFIG FILES! USE NOTEPAD++ INSTEAD!
# Uncomment a line when you want to change its default value (Remove # at the beginning)
# Please ensure to leave a space after the colon if a value is needed ("example-setting" "example-setting-with: value")
# At least one account with "username", "password" as well as "location" and "gmaps-key" are required
# When your configuration is done, rename this file by removing the ".example" extension
# A different config-files can be included directly in processes by "--config-file" or "-cf" and path


# Required settings
###################

#gmaps-key:                     # Your Google Maps API key

# Common settings
#################

#host:                          # Address to listen on (default='127.0.0.1')
#port:                          # Port to listen on (default=5000)
#print-status                   # Enable ENTER to switch between log view and a status view.
                                # Optionally add ": status" to start in status view and ": logs" to start in log view. (default=False)
#status-page-password:          # Enables and protects the /status page to view status of all workers. (default=None)


# Database settings
###################

#db-host:                       # Required for mysql ()
#db-name:                       # Required for mysql
#db-user:                       # Required for mysql
#db-pass:                       # Required for mysql
#db-port:                       # Required for mysql (default=3306)
#db-threads:                    # Number of db threads; increase if the db queue falls behind. (default=1)

# Webserver settings
####################

#only-server                    # Server-Only Mode. Starts only the Webserver without the searcher.
#locale:                        # Pokemon translation
#no-fixed-location              # Disables the fixed map location and shows the search bar for use in shared maps.
#cors                           # Enable CORS on web server.
#ssl-certificate:               # Path to ssl certificate
#ssl-privatekey:                # Path to ssl private key
#encrypt-lib:                   # Path to encrypt lib to be used instead of the shipped ones.
#display-in-console             # Display Found Pokemon in Console.
#disable-blacklist              # Disable the global anti-scraper IP blacklist.


# Webhook settings
##################

#webhook:                       # Webhook URL e.g. http://127.0.0.1:12345 or a list for multiple webhooks
                                # [http://127.0.0.1:1345,http://127.0.0.1:12346] (default=None)
#wh-types:[]                    # List of events to be sent: pokemon, gym, raid, egg, tth, gym-info, pokestop, lure, captcha. (default= nothing)
#wh-threads:                    # Number of webhook threads; increase if the webhook queue falls behind. (default=1)
#wh-retries:                    # Number of times to retry sending webhook data on failure (default=5)
#wh-connect-timeout:            # Connect timeout (in seconds) for webhook requests (default=1).
#wh-read-timeout:               # Read timeout (in seconds) for webhook requests (default=1).
#wh-concurrency:                # Async requests pool size. (default=25)
#wh-backoff-factor:             # Factor (in seconds) by which the delay until next retry will increase. (default=0.25).
#wh-lfu-size:                   # Webhook LFU cache max size (default=1000).
#wh-frame-interval:             # Time to wait for wh message grouping (msecs) (default=500)



# Status and logs
#################

#stats-log-timer                # In log view, list per hr stats every X seconds
#status-name:                   # Enables writing status updates to the database - if you use multiple processes, each needs a unique value. (default=None)


# Misc
######

#verbosity                      # Show debug messages from RocketMap and PGoApi. Values are 1,2,3 (default=0)
#no-file-logs                   # Disables logging to files except for access.log. (default=False)
#log-path:                      # Defines the path logs are saved at. (default=logs/)
#log-filename:                  # Defines the log filename to be saved. The default generates yyyymmdd_HHMM_statusname.log. (default=%Y%m%d_%H%M_<SN>)
